---
import ContentCard from './ContentCard.astro'
import { Card as ShadcnCard } from './ui/card'
import { SquareArrowOutUpRight } from 'lucide-react'

interface Props {
  title?: string
  body?: string
  colSpan?: string
  rowSpan?: string
  href?: string
  colorText?: string
}

const { title, body, colSpan, rowSpan, href, colorText } = Astro.props
---

<ShadcnCard
  className={`relative col-span-1 h-auto w-full flex-none justify-start overflow-hidden p-6 shadow-lg ${
    colSpan || 'md:col-span-2'
  } ${rowSpan || ''}`}
>
  {
    href ? (
      <a
        href={href}
        class={`group group block h-full w-full cursor-pointer transition duration-75 ease-in-out hover:border-primary ${colorText || ' '}`}
      >
        <SquareArrowOutUpRight
          className="group-hover:text-primary position absolute right-6 top-6 "
          size={20}
        />
        <ContentCard title={title} body={body}>
          <slot />
        </ContentCard>
      </a>
    ) : (
      <ContentCard title={title} body={body}>
        <slot />
      </ContentCard>
    )
  }
</ShadcnCard>
