---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import MDXLayout from "../../layouts/MDXLayout.astro";
import { PROFILE } from "../../content/profileData";


/**
 This is the dynamic route for projects
 **/
export async function getStaticPaths() {
  const booksEntries = await getCollection('books');
  return booksEntries.map(entry => ({
    params: {slug: entry.slug}, props: {entry},
  }));
}

interface Props {
  entry: CollectionEntry<'books'>;
}

const { entry }: Props = Astro.props;
const {author, readYear} = entry.data;
const {Content} = await entry.render();
---

<MDXLayout frontmatter={entry.data}>
  {
    author &&
    <div class="text-sm font-light italic">Book Author: {author}</div>
  }
  {
    readYear &&
    <div class="text-sm font-light italic">Read Year: {readYear}</div>
  }
  <div class="text-sm font-light italic mb-4">Reviewer: {PROFILE.name}</div>
  <Content/>
</MDXLayout>
